/* reduce padding for code block */
#post-content .prettyprint{
    padding: 5px !important;
}

/* remove extra padding for post content */
#post-content ol, #post-content ul {
    padding-left: 40px !important;
}

/* remove extra padding before every code line */
#post-content > pre > ol > li {
    padding-left: 0px !important;
}

/* reduce shadow for timeline page */
.md-timeline-content {
    -webkit-box-shadow: 0px 4px 15px 0px rgb(0 0 0 / 7%) !important;
}

.md-timeline-date.blue {
    background: #0D395F;
    -webkit-box-shadow: 0px 4px 15px 0px rgb(0 0 0 / 38%) !important;
}

/* force article headline to use Roboto font */
p.article-headline-p{
   font-family: Roboto !important;
}

/* hide unnecessary post content headline */
.material-post> div > div > p.article-headline-p {
    visibility: hidden !important;
}

/* expand letter-spacing for p tag and force NotoSerif font */
p {
    letter-spacing: .2em;
    font-family: Noto Serif SC !important;
}

/* expand letter-spacing for h1 tag */
h1 {
    letter-spacing: .1em !important;
}

/* expand letter spacing for div tag */
div {
    letter-spacing: .15em;
}

/* larger corner for post content */
.mdl-card.mdl-shadow--4dp.mdl-cell.mdl-cell--12-col {
    border-radius: 16px !important;
}

/* larger corner for post entry (preview) */
.post_entry-module.mdl-card {
    border-radius: 16px !important;
}

/* add extra margin-right for this button */
#article-functions-qrcode-button {
    left: -20px !important;
}

:root{
    --color_background: #faf2f1;
    --color_surface:  #fffbfa;
    --color_outline: #aa9898;
}

/* fix 'something else' bottom radius */
.mdl-card__supporting-text.meta.meta--fill {
    border-radius: inherit !important;
    background-color: var(--color_surface) !important ;
}

/* fix 'something else' background color */
.something-else-logo.mdl-color--white.mdl-color-text--grey-600{
    background-color: var(--color_surface) !important;
}

/* config backgroud color related to drawer */
.mdl-menu.mdl-js-menu {
    background-color: var(--color_surface) !important;
}

.dropdown {
    background-color: var(--color_background) !important;
}

#sidebar {
    background-color: var(--color_surface) !important;
}

li{
    background-color: var(--color_surface) !important;
}

/* img align center in post content */
#post-content > img {
 margin-left: auto;
    margin-right:auto;
    display:block;
}

/* disable drawer scrim */
.sidebar-overlay.active {
    opacity: 0 !important;
}

/* add drawer right border */
.sidebar{
    border-width: 0px !important;
    border-right-width: 2px !important;
    border-color: var(--color_outline) !important;
    border-style: solid !important;
    border-top-right-radius: 16px ;
    border-bottom-right-radius: 16px;
}

/*  MDU style dropdown item */
#sidebar-main > ul > li > a {
    border-radius: 32px !important;
    margin-top:  8px;
    margin-left: 8px;
    margin-right: 8px;
}

/* MDU style dropdown menu */
.dropdown {
    border-radius: 32px;
    margin: 8px;
}

/* dropdown menu is a special item,  remove duplicated margin */
.dropdown > a {
    margin: 0px !important;
}

/* when dropdown opened, remove its bottom corners */
#sidebar-main > ul > li.dropdown.open > a {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

/* round dropdown post counter */
.dropdown > ul > li > a > span {
    border-radius: 16px;
}

/* round total post counter */
#sidebar-main > ul > li > a > span {
    border-radius:  16px;
}

/* change dropdown li background whe open */
#sidebar-main > ul > li.dropdown.open > ul > li {
    background-color: var(--color_background) !important;
}

/* change dropdown bottom corner when open */
#sidebar-main > ul > li.dropdown.open > ul {
    border-bottom-left-radius: 32px !important;
    border-bottom-right-radius: 32px !important;
    overflow: hidden;
}

/* MDU style menu */
.mdl-menu__outline.mdl-menu--bottom-right {
    border-radius:  16px !important;
}

/* MDU style popup menu */
.mdl-menu__container.is-upgraded.is-visible > ul {
    border-radius:  16px !important;
    overflow: hidden;
}

.sidebar-colored .sidebar-nav>.dropdown>.dropdown-menu {
    background-color: var(--color_surface) !important;
}

.ripple-effect {
    border-radius: 32px !important;
}

/* use rounded rect for sidebar avatar */
.sidebar-image img {
    border-radius: 8px !important;
}

/* disable drawer shadow */
.sidebar-fixed-left {
    box-shadow: 0px 0 0px rgb(0 0 0 / 0%) !important;
}

/* beautify code block */
.prettyprint.linenums.prettyprinted {
   background-color: var(--color_surface) !important;
   border-radius: 8px !important;
   outline-offset: -2px;
   outline-style: dashed;
   outline-color: var(--color_outline); !important;
   outline-width: 2px;
}

/* MDU style card */
.mdl-card {
    border-radius: 16px !important;
    outline-style: solid;
    outline-width: 2px;
    outline-color: var(--color_outline);
    background-color: var(--color_surface) !important;
    box-shadow: 0 0px 0px 0 rgb(0 0 0 / 14%), 0 0px 0px 0px rgb(0 0 0 / 20%), 0 0px 0px 0 rgb(0 0 0 / 12%) !important;
}